body {
    background: url(background.jpeg)no-repeat;
    background-size: cover;
    /* display: flex; */


}

.pokedex {
    padding: 0;
    position: absolute;
    width: 758px;
    height: 512px;
    background: url(pokedex.png)no-repeat;
}

#img_pokemon {
    position: fixed;
    height: 180px;
    width: 280px;
    left: 58px;
    top: 148px;
}

#id {
    position: fixed;
    width: 400px;
    left: 170px;
    top: 459px;
}

#nome {
    position: fixed;
    width: 400px;
    left: 650px;
    top: 230px;
}

.buscar {
    position: fixed;
    width: 400px;
    left: 200px;
    top: 600px;
}

#nextButton {
    position: fixed;
    width: 25px;
    height: 25px;
    left: 323px;
    top: 431px;
}

#backButton {
    position: fixed;
    width: 25px;
    height: 25px;
    left: 260px;
    top: 431px;
}

#ButtonPower {
    position: fixed;
    width: 35px;
    height: 25px;
    left: 125px;
    top: 401px;
}

#img_back {
    position: fixed;
    height: 180px;
    width: 280px;
    left: 58px;
    top: 148px;
}

#butt_img_front {
    position: fixed;
    width: 25px;
    height: 25px;
    left: 294px;
    top: 400px;
}
#butt_img_back{
    position: fixed;
    width: 25px;
    height: 25px;
    left: 290px;
    top: 465px;
}