#nextButton {
    background: none;
    border-radius: 0px 06px 6px 0px;
    box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.7);
    display: flex;
    position: absolute;
    top: 405px;
    left: 506px;
    width: 40px;
    height: 32px;
}

#backButton {
    background: none;
    border-radius: 06px 0px 0px 6px;
    box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.7);
    display: flex;
    position: absolute;
    top: 405px;
    left: 463px;
    width: 40px;
    height: 32px;
}

#ButtonPower {
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    background: none;
    border-radius: 6px 6px 6px 6px;
    box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 400px;
    left: 113px;
    width: 51px;
    height: 13px;
}

#butt_img_back {
    background: none;
    border-radius: 6px 6px 0px 0px;
    box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.7);
    display: flex;
    position: absolute;
    top: 390px;
    left: 281px;
    width: 33px;
    height: 33px;
}

#butt_img_front {
    background: none;
    border-radius: 0px 0px 8px 8px;
    box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.7);
    display: flex;
    position: absolute;
    top: 450px;
    left: 281px;
    width: 33px;
    height: 33px;
}

#bbuscar {
    align-items: center;
    justify-content: center;
    background: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.7);
    display: flex;
    position: absolute;
    top: 429px;
    left: 150px;
    width: 100px;
    height: 41px;
}

input::placeholder {
    color: rgb(255, 255, 255);
}

#buscar {
    display: flex;
    position: absolute;
    background: none;
    border-radius: 8px 8px 8px 8px;
    top: 70px;
    left: -10px;
    width: 120px;
    height: 31px;
}

#button_open {
    position: absolute;
    left: 17px;
    top: 225px;

}

#off {
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    background: none;
    border-radius: 6px 6px 6px 6px;
    box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 399px;
    left: 177px;
    width: 53px;
    height: 14px;
}

/* CLASSIC CSS */
#normal {
    background: none;
    border-radius: 6px 6px 6px 6px;
    box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.7);
    display: flex;
    position: absolute;
    top: 274px;
    left: 512px;
    width: 50px;
    height: 40px;
}
#new {
    background: none;
    border-radius: 6px 6px 6px 6px;
    box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.7);
    display: flex;
    position: absolute;
    top: 274px;
    left: 463px;
    width: 50px;
    height: 40px;
}
#yellow {
    background: none;
    border-radius: 6px 6px 6px 6px;
    box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.7);
    display: flex;
    position: absolute;
    top: 274px;
    left: 564px;
    width: 50px;
    height: 40px;
}
#classic{
    background: none;
    border-radius: 6px 6px 6px 6px;
    box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.7);
    display: flex;
    position: absolute;
    top: 274px;
    left: 664px;
    width: 50px;
    height: 40px;
}







