body {
    background: url("https://external-preview.redd.it/NXrR_qnMRHrwUoE8pbeiX26fq4mNctFsmdEghRVApSQ.jpg?auto=webp&s=b18e1b0df84f417036d4e1ac0affb6245a071ebf")no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex{
   display: flex;
   position: relative;
    padding: 0;

    margin: 0;
}

.buscar{
    display: flex;
    position: absolute;
    top: 20px;
    left: 450px;
    border: 2px solid red;
    width: 100px;
    height: 60px;
}
.info-pokemon{
    display: flex;
    position: absolute;

    /* background-color: aqua; */
    /* margin: 0;
    border: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    top: 150px;
    left: 200px; */
}
#bg_pokemon{
    background: url(../img/background.jpeg) no-repeat;
    display: flex;
    background-color: rgba(33, 33, 234, 0.5);
    position: relative;
    border: 3px black solid;
    border-radius: 20px;
    top: 158px;
    left: 61px;
    width: 260px;
    height: 144px;
}
#img_pokemon{
    display: flex;
    border: none;
    position: absolute;
    border-radius: 24px;
    top: 165px;
    left: 130px;
    width: 150px;
    height: 134px;
}
.button-pokemon{
    display: flex;
    position: absolute;
 
}
