body {
    background: url("https://external-preview.redd.it/NXrR_qnMRHrwUoE8pbeiX26fq4mNctFsmdEghRVApSQ.jpg?auto=webp&s=b18e1b0df84f417036d4e1ac0affb6245a071ebf")no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    
}

.pokedex {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
}

.buscar {
    display: flex;
    position: absolute;
    top: 20px;
    left: 450px;
    width: 100px;
    height: 60px;
}
#light{
    display: flex;
    position: absolute;
    top: 15px;
    left: 26px;
}
#type{
    display: flex;
    position: absolute;
    top: 190px;
    left: 565px;
}
#nome{
    display: flex;
    position: absolute;
    top: 150px;
    left: 565px;
}
#id{
    display: flex;
    position: absolute;
    top: 450px;
    left: 165px;

}
.info-pokemon {
    /* display: flex; */
    position: absolute;
    /* border: 2px red solid;
    background-color: none;
    margin: 0%;
    border: none;
    outline: 0; */

    /* background-color: aqua; */
    /* margin: 0;
    border: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    top: 150px;
    left: 200px; */
}

#bg_pokemon {
    background: url(../img/background.jpeg);
    position: relative;
    border: 3px black solid;
    border-radius: 20px;
    top: 153px;
    left: 55px;
    width: 260px;
    height: 144px;
}

#img_pokemon {
    position: absolute;
    top: 160px;
    left: 130px;
    width: auto;
    height: 134px;
}
