body {
    background: url(../img/background.jpeg)no-repeat;
    background-size: cover;
    /* display: flex; */


}

.pokedex {
    padding: 0;
    position: absolute;
    width: 758px;
    height: 512px;
    background: url(../img/pokedex.png)no-repeat;
}

#img_pokemon {
    border-radius: 30px;
    position: fixed;
    height: 150px;
    width: 260px;
    left: 69px;
    top: 159px;
}

#id {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 25px;  
    font-weight: 800;
    position: fixed;
 
    left: 170px;
    top: 459px;
}

#nome {
    position: fixed;
    width: 400px;
    left: 650px;
    top: 230px;
}

.buscar {
    position: fixed;
    width: 400px;
    left: 200px;
    top: 600px;
}

#nextButton {
    background: none;
    position: fixed;
    width: 25px;
    height: 25px;
    left: 323px;
    top: 431px;
}

#backButton {
    background: none;
    position: fixed;
    width: 25px;
    height: 25px;
    left: 260px;
    top: 431px;
}

#ButtonPower {

    border-radius: 10px;
    background: none;
    position: fixed;
    width: 50px;
    height: 15px;
    left: 121px;
    top: 407px;
}



#butt_img_front {
    background: none;
    position: fixed;
    width: 25px;
    height: 25px;
    left: 294px;
    top: 400px;
}

#butt_img_back {
    background: none;
    position: fixed;
    width: 25px;
    height: 25px;
    left: 293px;
    top: 462px;
}